body{
    background-color: rgb(247, 247, 247);
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

header {
    border: 1px solid black;
    padding: 10px;
}


.tit {
    display: flex;
    justify-content: center;
    margin-top: 13px;
    margin-bottom: 22px;
}

h1, h3, legend, label {
    margin: 0;
    font-family: "Roboto", sans-serif;
}

section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

input, button {
    margin-bottom: 30px;
}

.send {
    display: flex;
    justify-content: center;
}

input {
    margin-left: 32px;
    padding: 12px;    
}

label {
    font-size: 17px;
}

button {
    font-family: "Roboto", sans-serif;
    border: none;
    padding: 18px;
    width: 145px;
    height: 60px;
    background-color:#6534D9;
    cursor: pointer;
    color: white;
    border-radius: 12px;
    transition: opacity 0.3s ease;
}