<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tela Inicial</title>
    <link rel="stylesheet" href="/View/style/Inicial.css">
    <script src="/Model/Menu.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    
</head>

<body>
    <header>

        <div class="eds">
            <h3>
                Edu Station
            </h3>
        </div>

        <div class="tit">
            <h1>
                Direção Workstation
            </h1>
        </div>

        <div class="pfp">
            <img src="/Photos/pfp.png" alt="Perfil" onclick="menu()">
            <div id="Menu">
                <ul>
                    <a href="/View/pages/Alterar.html"><li>Alterar</li></a>
                    <a href="/View/pages/DirecaoLogin.html"><li>Sair</li></a>
                </ul>
            </div>
        </div>

    </header>

    <section class="container">

        <div class="item">
            <a href="/View/pages/ListagemDiretores.html">
                <p>
                    Direção
                </p>
            </a>
        </div>

        <div class="item">
            <a href="/View/pages/ListagemDocentes.html">
                <p>
                    Docente
                </p>
            </a>
        </div>

        <div class="item">
            <a href="/View/pages/ListagemAlunos.html">
                <p>
                    Aluno (a)
                </p>
            </a>
            
        </div>

        <div class="item">
            <a href="/View/pages/ListagemDisciplinas.html">
                <p>
                    Disciplina
                </p>
            </a>
        </div>

        <div class="item">
            <a href="/View/pages/ListagemTurma.html">
                <p>
                    Turma
                </p>
            </a>
        </div>

    </section>

</body>
</html>