<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Usuário</title>
    <link rel="stylesheet" href="/View/style/ListagemDisciplinas.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

    <header>

        <div class="eds">
            <h3>
                Edu Station
            </h3>
        </div>

        <div class="tit">
            <h1>
                Direção Workstation
            </h1>
        </div>

        <div class="pfp">
            <a href="Inicial.html">
                <img src="/Photos/pfp.png" class="pfp" alt="Perfil" onclick="menu()">
            </a>
            
        </div>

    </header>
    <div class="direcaoplus">
        <h1>Disciplina</h1>
        <a href="/View/pages/CriarDisciplina.html">
            <img src="/Photos/plus.png" class="plus" alt="+">
        </a>
        
    </div>
    
    <hr>
    <section>
        

                <div class="user">
                    <label>Digite o nome</label>
                    <input type="text" name="usuario" id="pesquisar">
                </div>


    </section>

</body>
</html>