<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Criar Usuário</title>
    <link rel="stylesheet" href="/View/style/Registro.css">
</head>
<body>

    <header>

        <div class="eds">
            <h3>
                Edu Station
            </h3>
        </div>

        <div class="tit">
            <h1>
                Direção Workstation
            </h1>
        </div>
        
    </header>
    <h1>Direção</h1>
    <hr>
    <section>
        
        
        <fieldset>

            <legend>Cadastro Direção</legend>
            <form>

                <div class="user">
                    <label>Nome</label>
                    <input type="text" name="usuario" placeholder="Nome de Usuário" maxlength="38">
                </div>

                <div class="usercpf">
                    <label>CPF</label>
                    <input type="text" name="cpf" placeholder="Digite seu CPF" maxlength="11">
                </div>

                <div class="date">
                    <label>Data de Nascimento</label>
                    <input type="date" name="data">
                </div>

                <div class="email">
                    <label>Email</label>
                    <input type="email" name="email" placeholder="Digite seu e-mail">
                </div>

                <div class="userpass">
                    <label>Senha</label>
                    <input type="password" name="password" placeholder="Senha" class="pass" maxlength="12">
                </div>

                <div class="userpass">
                    <label>Confirmar Senha</label>
                    <input type="password" name="password" placeholder="Confirmar Senha" class="pass" maxlength="12">
                </div>

                <div class="create">
                    <button type="button">Criar Usuário</button>
                </div>

            </form>
        </fieldset>
    </section>

</body>
</html>